.DeleteModalWindow {
  &__bgShades {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    z-index: 2;
    animation: appear;
    animation-duration: 0.3s;
  }

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 200px;
    background: white;
    border: 1px solid rgb(233, 71, 71);
    border-radius: 15px 0 15px 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 3;
    animation: appear;
    animation-duration: 0.3s;
  }

  &__header {
    background: rgb(233, 71, 71);
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: end;
  }

  &__close {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    position: relative;
    left: 1px;
    background: rgb(240, 240, 240);

    &:hover,
    &:focus {
      cursor: pointer;
    };
  }

  &__img {
    width: 100%;
    height: 100%;
    background:none;
    transform-origin: center;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      transform: rotate(90deg)
    };

  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  &__paragraph {
    font-size: 18px;
    color: rgb(72, 72, 72);
    margin-bottom: 40px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  &__btn {
    width: 100px;
    height: 30px;
    outline: none;
    background: rgb(231, 231, 231);
    border-radius: 4px;
    border: 1px solid rgb(231, 231, 231);
    color: rgb(112, 112, 112);
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      cursor: pointer;
      background: white;
      border: 1px solid rgb(73, 73, 73);
      color: rgb(58, 58, 58);
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}